.confirmationAlert {
  z-index: 10;
  height: 45px;
  position: absolute;
  right: 10px;
  width: 300px;
  background-color: #EEE;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #CCC;
  border-radius: 3px;
  margin-left: -5px;
  padding: 10px;
}
